.CheckBox {
    position: absolute;
    width: 60%;
    height: 20%;
    top: 47%;
}

.CheckBox-input {
    position: absolute;
    border-radius: 2px;
}

.CheckBox-text {
    position: absolute;
    left: 10%;
    bottom: 45%;
}