@media screen and (max-width: 778px) {
    
}

@media screen and (min-width: 778px) {
    
    .LoginPage {
        width: 100%;
        height: 100%;
        background-color: #f0f8ff;
    }
    
    .InviteForm {
        width: 25%;
        height: 40%;
        top: 30%;
        left: 37%;
        position: fixed;
        background-color: #ffffff;
        border-radius: 10px;
        min-height: 312px;
    }
    
    .InviteForm-title {
        position: absolute;
        width: 25%;
        font-size: 22px;
        top: -17%;
        left: 38%;
    }

    .InviteForm-view {
        width: 23%;
        height: 7%;
        position: absolute;
        top: 8%;
        left: 15%;
        border: none;
        border-bottom: 2px solid #7f7f7f;
        background-color: white;
    }
    
    .InviteForm-view:hover {
        border-bottom: 2px solid #0153a5;
    }

    .CheckBox {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        margin-top: 0%;
        margin-bottom: 0%;
    }

    .MainPage {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0%;
        right: 0%;
        left: 0%;
        bottom: 0%;
        background-color: white;
    }
}

/*
Коды для цветов
1. f0f8ff - еле видный белый
2. 9accfe - голубой
3. c4e2ff - еле видный голубой
4. 0153a5 - синий
5. ffd6ce - телесный
6. ffaec9 - розовый
7. e2efb6 - болотистый
8. b6d744 - салатовый
9. 7f7f7f - серый
*/